*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width: 100vw;
    height: 15vh;
    background-color: burlywood;
}

main{
    width: 100vw;
    height: 80vh;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
}
#menu{
    width: inherit;
    height: 15vh;
    background-color: lightseagreen;
}
#sessoes{
    width: 100vw;
    height: 85vh;
    background-color: lightskyblue;
}
#tituloSessoes{
    width: inherit;
    height: 10vh;
    background-color: khaki;
}
footer{
    width: 100vw;
    height: 5vh;
    background-color: cadetblue;
}
