*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/battlefield.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

#cadastro{
    width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: solid 2px black;
    box-shadow: 5px 5px 6px white;
}

#titulo{
    width: 99%;
    height: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 3px;
    font-size: 3em;
    color: white;
    background-color: royalblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#cadastroInformacao{
    width: inherit;
    height: auto;
    
}

.campos{
    width: inherit;
    height: 70px;
    /* background-color: khaki; */
    display: flex;
    flex-direction: row;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
.cadastroInformacaoPessoal{
    width: 20%;
    height: inherit;
    /* background-color: lawngreen; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
}
.cadastroEntradaDados{
    width: 80%;
    height: inherit;
    /* background-color: lightcoral; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 20px;
}
.cadastroEntradaDados input{
    width: 95%;
    font-size: 1.5em;
    height: 90%;
    border-radius: 10px;
    border: 0;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
}
#botaoCadastrar{
    width: 90%;
    height: 40px;
    /* background-color: royalblue; */
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    margin-bottom: 10px;

}
#botaoCadastrar input{
    width: 100px;
    height: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    border: 0;
    background-color: royalblue;
    color: white;
    border-radius: 10px;

}
#botaoCadastrar input:hover{
    cursor: pointer;
    transform: scale(110%);
    transition: 0.5s ease-in-out;
}

